@model ProductCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Title">
                </div>
                <div class="form-group">
                    <label> Main Image</label>
                    <input asp-for="Photos" class="form-control" id="exampleInputEmail1" placeholder="Image">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input asp-for="Photos" class="form-control" id="exampleInputEmail1" placeholder="Image">
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" type="number" id="exampleInputPassword1" placeholder="Price">
                </div>
                <div class="form-group">
                    <label>Category </label>
                    <select asp-for="CategoryId" class="data-list-input" asp-items="@ViewBag.Categories" style="width:190px;">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Count"> </label>
                    <input asp-for="Count" class="form-control" id="exampleInputConfirmPassword1" placeholder="Stock Count">
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

